body {
    background-color: #FDF9F1;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background-image: url("./Assets/png/pngwing.com\(30\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    /* padding: 0 15px; */
    box-sizing: border-box;
    justify-content: center;

}
.home-title{
    color: white;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;

}


.main-contain {
    display: flex;
    /* height: 100vh; */
    padding-top: 75px;
    flex-direction: column;
    background-color: #FDF9F1D4;
    text-align: center;
}

/* .main-contain::before {    
    content: "";
    background-image: url('./Assets/png/pngwing.com\(29\).png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    height: 100%;
} */


nav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #D4D5D6;
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
}

.nav-container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.logo {
    height: 50px;
    width: 50px;
    overflow: hidden;
}

.logo img {
    position: fixed;
    height: 50px;
    width: auto;
}

.nav-options {
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-options ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}

.nav-options ul li {
    margin-left: 20px;
}

.nav-options ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

/* Footer start */

footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #D4D5D6;
    z-index: 9999999999;
}

.category-subcategory {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 20px;
}

.category-subcategory,
.social-media-privacy {
    width: 80%;
    margin: auto;
}

.branch {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
}

.branch a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.social-media-icon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 10%;
}

.social-media-icon a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    border-radius: 50%;
}

.social-media-icon a img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 50%;
    text-align: left;
}

.footer-links a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    border-left: 2px solid #000;
    padding-left: 12px;
}

.footer-links a:first-child {
    border-left: none;
    padding-left: 0;
}

.copyright {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 45%;
}

/* Footer End */

/* index page start */
.video-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
  
}

.video-container .text-on-videos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    z-index: 50;
}



/* Center the entire container */
.discription-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    /* Adjust as needed */
    width: 80%;
    margin: 50px auto;
    background-color: #FDF9F1C7;
    box-shadow: 0 0 10px wheat;
}

/* Left side image container */
.dis-image {
    flex: 0 0 auto;
    margin-right: 20px;
    /* Adjust spacing between image and text */
}

/* Circular image */
.dis-image img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover;
    /* border: 2px solid #000; */
    /* Optional border style */
}

/* Right side text container */
.dis-paragraph:nth-child(even) {
    /* flex: 1 1 auto; */
    width: 50%;
    padding-left: 50px;
}

.dis-paragraph:nth-child(odd) {
    /* flex: 1 1 auto; */
    width: 50%;
    padding-right: 50px;
}

/* Optional: To ensure text is vertically centered with the image */
.discription-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}





/* index page end */




/* Menu Page start */

.box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;

}

.box input[type="search"] {
    width: 350px;
    padding: 8px;
    padding-left: 30px;
    font-size: 16px;
    text-align: center;
    background-image: url("search.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 20px 20px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

/*menu*/



/*table product*/
h1 {
    color: rgb(134, 86, 64);
    font-weight: bold;
}

table {

    font-weight: bold;
    width: 70%;
    /* border-collapse: collapse; */
    text-align: left;
    margin: 0 auto 20px auto;
}

td {
    padding: 10px;
    border: 1px solid rgb(134, 86, 64);
}

tr:nth-child(odd) {
    background-color: #FDF9F1;
    color: rgb(0, 0, 0);
}

tr:nth-child(even) {
    background-color: white;
    color: black;
}

/* first td in tr with should be 15% */
td:nth-child(1) {
    width: 20%;
}

td:nth-child(2) {
    width: 70%;
}

td:nth-child(3) {
    width: 10%;
}

/* Menu page end */


/* Gallery page start */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.image {
    border-radius: 8px;
    overflow: hidden;
    background-color: #f7f1e3;
    /* Coffee-colored background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Shadow effect */
    border: 1px solid #e1d1b6;
    /* Border color */
    padding: 5px;
    overflow: hidden;
    /* fit image content */
    position: relative;
    
    /* Add some padding around the image */
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease;
    cursor: pointer;
}

/* Add hover effect if desired */
.image img:hover {
    transform: scale(1.1);
}

.gallery-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #6b4d32;
    /* Coffee brown color */
    margin-bottom: 20px;
    margin-top: 50px;
}

/* Gallery page end */


/* About us page start */
/* 
.section {
    width: 100%;
    height: 100vh;
} */

.about-container {
    width: 80%;
    display: block;
    background-color: #ffebcd6e;
    border: 5px solid bisque;
    border-radius: 30px;
    box-shadow: 0 0 10px wheat;
    overflow: hidden;
    padding: 41px 0px;
    margin: 50px auto;
}

.content_sec {
    float: left;
    width: 55%;
}

.img-sec {
    float: right;
    width: 40%;
}

.img-sec img {
    width: 100%;
    height: auto;
}

.content_sec .title {
    text-transform: uppercase;
    font-size: 28px;
}

.content_sec .content h3 {
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 19px;
}

.content_sec .content p {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.content_sec .content .btn {
    margin-top: 30px;

}

.content_sec .content .btn a {
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.content_sec .content .btn a:hover {
    background-color: #a52a2a;
    color: #fff;
}

.content_sec .social {
    margin-top: 40px;
}

.content_sec .social i {
    color: #a52a2a;
    font-size: 30px;
    padding: 0px 10px;
}

.social img {
    height: 25px;
}



@media screen and (max-width:768px) {
    .about-container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    .content_sec {
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }

    .img-sec {
        float: none;
        width: 100%;
    }

    .img-sec img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }

    .content_sec .title {
        text-align: center;
        font-size: 19px;
    }

    .content_sec .content .btn {
        align-items: center;
    }

    .content_sec .content .btn a {
        padding: 9px 30px;
    }

}

.cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    width: 80%;
    margin: auto;
}

.card {
    width: calc(40% - 40px);
    padding: 10px;
    margin: 10px;
    border: 5px solid bisque;
    border-radius: 30px;
    box-shadow: 0 0 10px wheat;
    background-color: #faebd794;
    overflow: hidden;
}

.card img {
    width: 550px;
    max-height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    margin-bottom: 15px;
}

.card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #828589;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.card a:hover {
    background-color: #007bff;
}

/* About us page end */

/* contact us start */
.contact_us_green * {
    font-family: Nunito, sans-serif;
}

.contact_us_green .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
}

.contact_us_green input:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}

.contact_us_green textarea:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}

.contact_us_green .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
}

.contact_us_green .responsive-cell-block {
    min-height: 75px;
}

.contact_us_green .responsive-container-block.container {
    max-width: 1320px;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
}

.contact_us_green .responsive-container-block.big-container {
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
}

.contact_us_green .text-blk.contactus-head {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.contact_us_green .text-blk.contactus-subhead {
    max-width: 385px;
    color: #939393;
    font-size: 18px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}

.contact_us_green .contact-svg {
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 65px;
    height: 40px;
}

.contact_us_green .social-media-links {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
}

.contact_us_green .social-svg {
    width: 35px;
    height: 35px;
}

.contact_us_green .text-box {
    display: flex;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
}

.contact_us_green .contact-text {
    color: #939393;
}

.contact_us_green .input {
    height: 50px;
    width: 90%;
    border-width: 2.5px;
    border-style: solid;
    border-color: #a2a2a2;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.contact_us_green .textinput {
    height: 200px;
    width: 95%;
    border-width: 2px solid #a2a2a2;
    border-image: initial;
    border-radius: 5px;
    font-size: 16px;
    padding: 20px 30px 20px 20px;
}

.contact_us_green .submit-btn {
    min-width: 290px;
    height: 60px;
    background-color: #1c3b28;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    cursor: pointer;
}

.contact_us_green .btn-wrapper {
    display: flex;
    justify-content: center;
}

.contact_us_green .text-blk.input-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
}

.contact_us_green .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
}

.contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_us_green .head-text-box {
    display: none;
}

.contact_us_green .line {
    border-right-width: 1.8px;
    border-right-style: solid;
    border-right-color: #a2a2a2;
}

.contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 0px;
}

@media (max-width: 1024px) {
    .contact_us_green .responsive-container-block.container {
        justify-content: center;
    }

    .contact_us_green .text-blk.contactus-subhead {
        max-width: 90%;
    }

    .contact_us_green .head-text-box {
        display: block;
    }

    .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 60px;
        padding-left: 0px;
    }

    .contact_us_green .line {
        border-right-width: initial;
        border-right-style: none;
        border-right-color: initial;
        border-bottom-width: 1.8px;
        border-bottom-style: solid;
        border-bottom-color: #a2a2a2;
    }

    .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
        margin-top: 60px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .contact_us_green .workik-contact-bigbox {
        display: flex;
    }

    .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
}

@media (max-width: 768px) {
    .contact_us_green .text-content {
        display: none;
    }

    .contact_us_green .input {
        width: 100%;
    }

    .contact_us_green .textinput {
        width: 100%;
    }

    .contact_us_green .text-blk.contactus-head {
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    .contact_us_green .responsive-container-block.big-container {
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 0px;
        padding-left: 20px;
    }

    .contact_us_green .workik-contact-bigbox {
        display: block;
    }

    .contact_us_green .text-blk.input-title {
        font-size: 16px;
    }

    .contact_us_green .text-blk.contactus-head {
        font-size: 26px;
    }

    .contact_us_green .text-blk.contactus-subhead {
        font-size: 16px;
        line-height: 23px;
    }

    .contact_us_green .input {
        height: 45px;
    }

    .contact_us_green .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
        margin: 0 0 25px 0;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



.wk-desk-1 {
    width: 8.333333%;
}

.wk-desk-2 {
    width: 16.666667%;
}

.wk-desk-3 {
    width: 25%;
}

.wk-desk-4 {
    width: 33.333333%;
}

.wk-desk-5 {
    width: 41.666667%;
}

.wk-desk-6 {
    width: 50%;
}

.wk-desk-7 {
    width: 58.333333%;
}

.wk-desk-8 {
    width: 66.666667%;
}

.wk-desk-9 {
    width: 75%;
}

.wk-desk-10 {
    width: 83.333333%;
}

.wk-desk-11 {
    width: 91.666667%;
}

.wk-desk-12 {
    width: 100%;
}

@media (max-width: 1024px) {
    .wk-ipadp-1 {
        width: 8.333333%;
    }

    .wk-ipadp-2 {
        width: 16.666667%;
    }

    .wk-ipadp-3 {
        width: 25%;
    }

    .wk-ipadp-4 {
        width: 33.333333%;
    }

    .wk-ipadp-5 {
        width: 41.666667%;
    }

    .wk-ipadp-6 {
        width: 50%;
    }

    .wk-ipadp-7 {
        width: 58.333333%;
    }

    .wk-ipadp-8 {
        width: 66.666667%;
    }

    .wk-ipadp-9 {
        width: 75%;
    }

    .wk-ipadp-10 {
        width: 83.333333%;
    }

    .wk-ipadp-11 {
        width: 91.666667%;
    }

    .wk-ipadp-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .wk-tab-1 {
        width: 8.333333%;
    }

    .wk-tab-2 {
        width: 16.666667%;
    }

    .wk-tab-3 {
        width: 25%;
    }

    .wk-tab-4 {
        width: 33.333333%;
    }

    .wk-tab-5 {
        width: 41.666667%;
    }

    .wk-tab-6 {
        width: 50%;
    }

    .wk-tab-7 {
        width: 58.333333%;
    }

    .wk-tab-8 {
        width: 66.666667%;
    }

    .wk-tab-9 {
        width: 75%;
    }

    .wk-tab-10 {
        width: 83.333333%;
    }

    .wk-tab-11 {
        width: 91.666667%;
    }

    .wk-tab-12 {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .wk-mobile-1 {
        width: 8.333333%;
    }

    .wk-mobile-2 {
        width: 16.666667%;
    }

    .wk-mobile-3 {
        width: 25%;
    }

    .wk-mobile-4 {
        width: 33.333333%;
    }

    .wk-mobile-5 {
        width: 41.666667%;
    }

    .wk-mobile-6 {
        width: 50%;
    }

    .wk-mobile-7 {
        width: 58.333333%;
    }

    .wk-mobile-8 {
        width: 66.666667%;
    }

    .wk-mobile-9 {
        width: 75%;
    }

    .wk-mobile-10 {
        width: 83.333333%;
    }

    .wk-mobile-11 {
        width: 91.666667%;
    }

    .wk-mobile-12 {
        width: 100%;
    }
}

.contact_us_green,
.review-container {
    width: 80%;
    margin: 40px auto;
    background-color: #ffebcd6e;
    border: 5px solid bisque;
    border-radius: 30px;
    box-shadow: 0 0 10px wheat;
    overflow: hidden;

}

.container-box {

    background-color: white;
    padding: 30px 140px;
    /* background-image: url("./Assets/Images/creps.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* color: rgb(134, 86, 64); */
    color: rgb(134, 86, 64);
    font-family: 'Nunito', sans-serif;
    position: relative;
}

.container-box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247, 164, 10, 0.158);
    opacity: 0.5;
}

/* review page start */

#feedback {
    max-width: 60%;
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    border: solid 1px #f1f1f1;
    background: #fbfbfb;
    box-shadow: #e6e6e6 0 0 4px;
    border-radius: 0.25rem;
}

@media (max-width: 720px) {
    #feedback {
        max-width: 90%;
    }
}

@media (max-width: 500px) {
    #feedback {
        padding: 10px;
    }
}

#fh2 {
    padding: 2px 15px;
    color: #6b4d32;
    text-align: center;
}
.review-container {
    padding: 20px 0px;
}

@media (max-width: 400px) {
    #fh2 {
        font-size: 20px;
    }
}


#fh6 {
    padding: 2px 15px;
    color: #4d0er;
    text-align: center;
    font-weight: normal;
}

@media (max-width: 400px) {
    #fh6 {
        font-size: 12px;
    }
}

.pinfo {
    margin: 8px auto;
    font-weight: bold;
    line-height: 1.5;
    color: #0d0d0d;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    font-weight: bold;
    color: #6C6262;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control:focus {
    color: #696060;
    background-color: #fff;
    border-color: #5cb3fd;
    outline: none;
}

.form-control::-webkit-input-placeholder {
    color: #F34949;
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: brown;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: blue;
    opacity: 1;
}

.form-control::placeholder {
    color: white;
    opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: red;
    opacity: 1;
}

.form-control:disabled {
    cursor: not-allowed;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

select.form-control:focus::-ms-value {
    color: green;
    background-color: #fff;
}

.form-control-file,
.form-control-range {
    display: block;
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.input-group .form-control:focus,
.input-group .form-control:active,
.input-group .form-control:hover {
    z-index: 3;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.input-group-addon,
.input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-addon {
    width: 45px;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25;
    color: #2e2e2e;
    text-align: center;
    background-color: #eceeef;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.input-group-addon.form-control-sm,
.input-group-sm>.input-group-addon,
.input-group-sm>.input-group-btn>.input-group-addon.btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
}

.input-group-addon.form-control-lg,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.input-group-addon.btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}

.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
    margin-top: 0;
}

.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:last-child)>.btn,
.input-group-btn:not(:last-child)>.btn-group>.btn,
.input-group-btn:not(:last-child)>.dropdown-toggle,
.input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group-addon:not(:last-child) {
    border-right: 0;
}

.input-group .form-control:not(:first-child),
.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child)>.btn,
.input-group-btn:not(:first-child)>.btn-group>.btn,
.input-group-btn:not(:first-child)>.dropdown-toggle,
.input-group-btn:not(:last-child)>.btn:not(:first-child),
.input-group-btn:not(:last-child)>.btn-group:not(:first-child)>.btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.form-control+.input-group-addon:not(:first-child) {
    border-left: 0;
}

.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn:focus,
.btn:hover {
    text-decoration: none;
}

.btn:focus,
.btn.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
    box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
}

.btn.disabled,
.btn:disabled {
    cursor: not-allowed;
    opacity: .65;
}

.btn:active,
.btn.active {
    background-image: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}

.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.btn-primary:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
}

.btn-primary:focus,
.btn-primary.focus {
    -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
    box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #0275d8;
    border-color: #0275d8;
}

.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #025aa5;
    background-image: none;
    border-color: #01549b;
}